*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    --branco: #a0a0a0;
    --verde:#a7f205;
    --verdeconst:#9ff200;
    --pretoconst:#212121;
    --preto:#302e2e;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: #212121;
    min-height: 80px;
}

header > nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

header >nav >ul{
    display: flex;
    gap: 35px;

}

header > nav > ul > li > a{
    display: block;
    padding: 10px;
    color: #a0a0a0;
}