*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    --branco: #a0a0a0;
    --verde:#a7f205;
    --verdeconst:#9ff200;
    --pretoconst:#212121;
    --preto:#302e2e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: #212121;
    min-height: 80px;
    z-index: 5;
    width: 100%;
    top: 0;
    position: fixed;
}

header > nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

header >nav >ul{
    display: flex;
    gap: 24px;

}

header > nav > ul > li > a{
    display: block;
    padding: 10px;
    color: #a0a0a0;
}

header > nav > ul > li > a:hover{
    color: var(--verdeconst);
}



.menu-social > li{
    cursor: pointer;
}

.containerMain{
    height: 100vh;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.containerMain > h1{
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.containerMain > img{
  margin-top: 10vh;

}

.box-button{

    display: flex;
    align-items: center;
    background-color: var(--verdeconst);
    border-radius: 4px;
    padding: 0px 30px;
}
.box-button >button{
    background-color: transparent;
    padding: 15px 010px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color:var(--preto);
    font-weight: 600;

}
.box-button > img{

    width: 20px;
}




.containerPortifolio{

    height: 100vh;
    background-color: #fff;
}


/*Mobile menu drop*/
.drop{
    display: none;
}

@media (max-width:768px) {
    .drop{
        display: block;
        cursor: pointer;
        color: #fff;
    }
    
    header{
        padding: 5px 12px;
    }

    header > nav{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        top: 80px;
        right: 0;
        background-color: var(--pretoconst);
        align-items: flex-start;
        flex-wrap: wrap;
        display: none;
    }
    .menu-ativo{
        display: flex;
    }
    
    header >nav >ul{
       flex-direction: column;
       gap: 04px;;
       width: 100%;
    }
    
   
  
    
    
    .menu-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
   



}